<?xml version="1.0"?>
<LiftLeftExecutor>
  <LieftLevelsConfig>
    <level0>870</level0>
    <level1>790</level1>
    <level2>210</level2>
    <levelBall>500</levelBall>
  </LieftLevelsConfig>
  <DoorConfig>
    <openGetObject>850</openGetObject>
    <openLeaveObject>950</openLeaveObject>
    <close>790</close>
  </DoorConfig>
  <HandConfig>
    <grab>740</grab>
    <relese>840</relese>
  </HandConfig>
  <TimeConfig>
    <liftUp>1100</liftUp>
    <liftDown>800</liftDown> 
    <doorOpenClose>300</doorOpenClose>
    <handOpenClose>300</handOpenClose>
  </TimeConfig>
</LiftLeftExecutor>

<LiftCenterExecutor>
  <DoorConfig>
    <openGetObject>150</openGetObject>
    <openLeaveObject>210</openLeaveObject>
    <close>300</close>
  </DoorConfig>
  <HandConfig>
    <grab>150</grab>
    <relese>210</relese>
  </HandConfig>
</LiftCenterExecutor>

<LiftRightExecutor>
  <LieftLevelsConfig>
    <level0>840</level0>
    <level1>500</level1>
    <level2>150</level2>
    <levelBall>400</levelBall>
  </LieftLevelsConfig>
  <DoorConfig>
    <openGetObject>200</openGetObject>
    <openLeaveObject>0</openLeaveObject>
    <close>270</close>
  </DoorConfig>
  <HandConfig>
    <grab>740</grab>
    <relese>830</relese>
  </HandConfig>
  <TimeConfig>
    <liftUp>900</liftUp>
    <liftDown>1100</liftDown> 
    <doorOpenClose>300</doorOpenClose>
    <handOpenClose>300</handOpenClose>
  </TimeConfig>
</LiftRightExecutor>

<PopcornExecutor>
  <PipeLeftConfig>
    <open>780</open>
    <close>990</close>
  </PipeLeftConfig>
  <PipeRightConfig>
    <open>240</open>
    <close>50</close>
  </PipeRightConfig>
  <BackStorageConfig>
    <open>118</open>
    <close>400</close>
  </BackStorageConfig>
  <TimeConfig>
    <getPopcorn>3000</getPopcorn>
    <unloadPopcorn>250</unloadPopcorn> 
  </TimeConfig>
</PopcornExecutor>

<FlapExecutor>
  <FlapLeftConfig>
    <open>540</open>
    <close>990</close>
  </FlapLeftConfig>
  <FlapRightConfig>
    <open>520</open>
    <close>50</close>
  </FlapRightConfig>
</FlapExecutor>

<CarpetExecutor>
  <armRightConfig>
    <open>100</open>
    <close>100</close>
  </armRightConfig>
  <armLeftConfig>
    <open>100</open>
    <close>100</close>
  </armLeftConfig>
  <TimeConfig>
    <OpenArmTime>100</OpenArmTime>
    <LeaveCarpetTime>100</LeaveCarpetTime>
  </TimeConfig>
</CarpetExecutor>
